<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Liste des étudiants</h1>
<table>
    {% for etudiant in etudiants %}
    <tr>
        <td>{{ etudiant.nom_etudiant }}</td>
        <td>{{ etudiant.prenom_etudiant }}</td>
        <td>{{ etudiant.mail_etudiant }}</td>
        <td>{{ etudiant.telephone_etudiant }}</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>
